 /* start style file for MeetingMinutes */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
 /*color:rgb
   sizing:max-wdth
 */
 .agenda {
    color: rgb(10, 77, 34);
    max-width: 20cm;
    
  } 
 /*color: hex
   unit rel: rem
   text-decoration: 
   sizing: min-width
   position: sticky
 */
 h1, h2{
    color: #00316E;
    font-size: 3rem;
    text-decoration: underline;
    text-align:center;
    min-width: none;
    position: sticky;
  } 
  /*color: hsl
    textcolor:
    unit rel: em 
  */
 #agenda {
    color: hsl(89,21%,29%);
    font-size: 2em;
    
  } 
  /*color: name 
    unit rel: ex
  */
  #ubusiness {
    color: rosybrown;
    font-size: 4ex;
  } 
 /*unit abs: mm*/
  #nbusiness {
    font-size: 6mm;
  } 
  /*unit abs: Q*/
  #recordings {
    font-size: 35Q;
  } 
  /*unit abs: cm
    marginL auto*/
  #notes{
    font-size: 1cm;
    margin: auto;
    
  } 
  /*border long:
    padding longt 
    margin long: */ 

  ul{
    border-style: solid;
    border-color: rebeccapurple;
    border-width: 2px;
    border-radius: 3mm;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    display: block flow;
  }

  /*backgroung-color:
    border short:
    padding short: */ 
  ol{
    border: 2px solid rgb(10, 77, 34);
    border-radius: 3mm;
    padding:1% 2% 1% 3%; 
    margin:1% 2% 1% 1%; 
    display: inline flow;
    background-color: rgb(221, 250, 231);
  }
  /*display: none*/
  .hidden{
    display: none;
    text-align: center;
    color: red;
  }
  /*display: inline-block*/ 
  .timestamp{
    display: inline-block;
  }
  /*sizing: height. width
    position: relative*/ 
  video{
    height: 7cm; 
    width: auto; 
    position: relative;
  }
  /*pseudo*/
  button:hover {
    color: purple;
  }
  /*pseudo*/
  a:active {
    color: red;
  }
  /*flex*/ 
  #text-container{
    display: flex;
    background-color: #add8e6;
    gap: 30px; 
    justify-content: flex-start; 
    flex-flow: row wrap;
    flex-direction: row; 
  }
  /*selector: class*/
  .text-item{
    background-color: #c1e6f2;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    flex-shrink: 3;
    align-self: auto; 
  }
  /*grid
    selector: element*/ 
  #selection-inputs{
    display: inline-grid; 
    grid-template-columns: 400px; 
    grid-template-rows: 70px; 
    row-gap: 5px;
  }
  /*selector: child*/
  #selection-inputs > div{
    justify-self: stretch;
  }
  /* query*/ 
  @media (min-width: 40rem) {
    #navigate {
      color: red;
    }
  }
  /*selector: attribute*/
  label[for="bird-selection"] {
    font-style: italic;
  }
  /*selector: universal*/
  * {
    font-family: 'Montserrat', sans-serif;
  }
  /*selector: general sibiling*/ 
  p ~ span{
    color: red; 
  }
  /*selector: adjacent sibiling*/ 
  input + label{
    color: orange; 
  }
  /*selector: combine*/ 
  .fruit.grapefruit{
    color: rgb(239, 12, 50); 
  }
  /*selector: descendents*/ 
  ul li {
    list-style-type: circle;
  }
  