 /* start style file for MeetingMinutes */

 /*color:rgb
 background-color
 */
 .agenda {
    color: rgb(10, 77, 34);
    background-color: rgb(221, 250, 231)
  } 
 /*color: hex*/

 h1 {
    color: #00316E;
  } 
  /*color: hsl
  */
 #agenda {
    color: hsl(89,21%,29%);
  } 
  /*color: name*/ 
  #ubusiness {
    color: rosybrown;
  } 

